html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif; }

.header {
  padding-top: 3rem; }
  .header__logo {
    font-size: 5.5rem;
    color: white; }
  .header__icon {
    cursor: pointer;
    height: 3.4rem;
    align-self: center; }

.d-flex {
  display: flex; }

.space-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

.justify-center {
  text-align: center;
  justify-content: center; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.heigth100 {
  height: 100% !important; }

.hero {
  background-image: url("../img/hero-bg.png");
  margin-bottom: 3rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white; }
  .hero__icon {
    padding-top: 7.5rem;
    padding-bottom: 4rem; }
  .hero__sub {
    font-size: 3rem;
    width: 90%;
    max-width: 42rem;
    padding-bottom: 6rem; }
  .hero__arrow {
    padding-bottom: 6rem;
    position: relative;
    left: -2px; }
    .hero__arrow:hover {
      cursor: pointer; }

.onama {
  background-color: #f8f8f8;
  padding: 4rem 2rem; }
  .onama__heading {
    margin-bottom: 3rem; }
  .onama__para {
    font-size: 2.4rem;
    line-height: 3.2rem; }
  .onama__img {
    height: 100%;
    width: 100%; }

.section-heading {
  font-size: 3.6rem;
  font-weight: bold; }

.projects {
  padding: 4rem 0; }
  .projects__heading {
    padding-bottom: 3.5rem; }
  .projects__img {
    width: 49%;
    padding: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .projects__img {
        width: 95%;
        text-align: center; } }
